@(message: String, username: String)(implicit assetsFinder: AssetsFinder)

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>@username's Garage</title>
            <link rel="shortcut Icon" type="image/png" href="@assetsFinder.path("images/icon.png")">

            <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/style.css")">
            <script src="@assetsFinder.path("javascripts/mainpage.js")" type="text/javascript"></script>
            <script src="@assetsFinder.path("javascripts/chat.js")" type="text/javascript"></script>
            <script src="@assetsFinder.path("javascripts/profileView.js")" type="text/javascript"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>
        <body>
            <ul class="menu_ul">
                <div class="menu_top_links">
                    <li class="menu_li"><a href="mainpage">Garage</a></li>
                    <li class="menu_li"><a href="profile">Profil</a></li>
                    <li class="menu_li"><a href="highscore">Bestenliste</a></li>
                </div>
                <li class="menu_li" style="float: right"><a href="@routes.LoginController.logout()">Abmelden</a></li>
            </ul>

            <div class ="chat_div">
                <img id="chat_button" class = "chat_button" src="@assetsFinder.path("images/chat_icon_weiß.png")" onclick="open_chat()">

                <div class = "chat_window" id = "chat_show">
                    <form id="chat_containerFreunde" >
                        <div class ="chat_friendslist" id="chat_friendslist">
                            <label class="profile_label">Meine Freunde:</label>
                            <ol id="friends_list_chat">
                            </ol>
                        </div>
                    </form>

                    <form id="chat_containerChat" onsubmit="return false">
                        <img id="chat_window_close_button" alt="Spiel beenden" src="@assetsFinder.path("images/x-button.png")"
                        onclick="close_chat()" >
                        <div id ="chat_messagechat">
                            <label id = "chat_containerLabel_Freund" class="profile_label">
                                Wähle einen Freund aus um ihm Nachrichten zu Schreiben!</label>
                            <div class ="chat_Messagelist" id="chat_Messagelist">
                                <div id="friends_listM">
                                </div>
                            </div>
                            <div id ="chat_messagelist_buI">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="main_div">
                <img id="main_hoverPlay" src="@assetsFinder.path("images/GaragePlayHover.png")" style="height: 920px;
                    width: 1380px" alt="Play" usemap="#workmap" />
                <img id="main_garage" src="@assetsFinder.path("images/GarageDefault.png")" style="height: 920px;
                    width: 1380px" alt="Garage" usemap="#workmap" />
                <img id="main_hoverProfile" src="@assetsFinder.path("images/GarageTrophyHover.png")" style="height: 920px;
                    width: 1380px" alt="Profil" usemap="#workmap" />
                <img id="main_hoverInventory" src="@assetsFinder.path("images/GarageInventoryHover.png")" style="height: 920px;
                    width: 1380px" alt="Inventar" usemap="#workmap" />
                <img id="main_hoverBlueprint" src="@assetsFinder.path("images/GarageBlueprintHover.png")" style="height: 920px;
                    width: 1380px" alt="Profil" usemap="#workmap" />
                <img id="main_grayGarage" src="@assetsFinder.path("images/GarageDark.png")" style="height: 920px;
                    width: 1380px" alt="graue Garage" />
                <img id="main_garageOverlay" src="@assetsFinder.path("images/GarageOverlay.png")" style="height: 920px;
                    width: 1380px;
                    display: none" alt="Overlay" onclick="main_toggleOverlay()" />

                <map name="workmap">
                    <area shape="rect" coords="87, 360, 390, 584" alt="Trophäen" onmouseleave="main_unhoverProfile()" onmouseover="main_hoverProfile()" href="/profile" />
                    <area id="open_dialog" onmouseleave="main_unhoverPlay()" onmouseover="main_hoverPlay()" shape="rect" coords="475, 370, 908, 680" alt="Spielen!" onclick="main_toggleModeSelection()" style="cursor: pointer" />
                    <area shape="rect" coords="930, 840, 1110, 730" alt="Meine Items" onmouseleave="main_unhoverInventory()" onmouseover="main_hoverInventory()" onclick="main_openInventory()" style="cursor: pointer" />
                    <area shape="rect" coords="1000, 400, 1330, 577" alt="Anleitung" onmouseleave="main_unhoverBlueprint()" onmouseover="main_hoverBlueprint()" onclick="main_openBlueprint()" style="cursor: pointer" />
                </map>

                <img id="main_questionmarkOverlay" src="@assetsFinder.path("images/noun_Question.png")" alt="Overlay" onclick="main_toggleOverlay()" style="cursor: pointer" />
            </div>

            <div id="main_centerpoint">
                <dialog role="main_dialog" aria-labelledby="dialog_heading">
                    <button id="close_dialog">Zurück</button>
                    <h2 id="dialog_heading">Wähle den Spielmodus:</h2>
                    <div id="main_buttons">
                        <input type="button" id="main_easy" value="Standard" onclick="main_setMode('standard')">
                        <input type="button" id="main_hard" value="Chaos" onclick="main_setMode('chaos')">
                    </div>
                </dialog>
            </div>
            <div id="main_inventoryBackground">
                <div id="main_inventoryContainer">
                    <img id="signup_backButton" src="@assetsFinder.path("images/back-button.png")" alt="Zurück" onclick="main_closeInventory()">
                    <span id="signup_backText" onclick="main_closeInventory()">Zurück zur Garage</span>

                    <h1>Mein Inventar</h1>
                    <div id="main_inventory">
                    </div>
                </div>
            </div>

            <div class="slideshow-container">
                <div class="backplane"></div>
                <div class="slideshow">
                    <div class="back-button" onclick="main_closeBlueprint()">
                        <img id="signup_backButton" src="/assets/images/back-button.png" alt="Zurück" >
                        <span>Zurück zur Garage</span>
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorial1.png")" style="width: 100%">
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorialStandardmodus.png")" style="width: 100%">
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorialChaos.png")" style="width: 100%">
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorialTinte.png")" style="width: 100%">
                        <img class="tutorialGif" src="@assetsFinder.path("images/tintenGif.gif")" alt="Tinte auf Windschutzscheibe">
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorialReifen.png")" style="width: 100%">
                        <img class="tutorialGif" src="@assetsFinder.path("images/reifenGif.gif")" alt="Autoreifen wechseln">
                    </div>
                    <div class="mySlides">
                        <img src="@assetsFinder.path("images/tutorialEnde.png")" style="width: 100%">
                    </div>

                    <a class="prev" onclick="changeToPreviousSlide()">&#10094;</a>
                    <a class="next" onclick="changeToNextSlide()">&#10095;</a>

                    <div class="main_dotContainer">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                        <span class="dot" onclick="currentSlide(6)"></span>
                    </div>
                </div>
            </div>
        </body>
    </html>
}